<h1> Posts </h1>
<% @post.each do |post| %>
  <div class="card mb-4 rounded-3 shadow-sm">
    <div class="card-body">
      <h3> <%= post.title %> </h3>
      <p> <%= post.body %> </p>
      <%= link_to "More", post_path(post), :class => "btn btn-lg btn-outline-primary" %>
    </div>
  </div>
<% end %>