/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
  #header {
    background-color: #fffffff1;
    border-radius: 5px;
    padding-left: 20%;
    padding-right: 20%;
  }
  body {
    /* 16, 79 are for dark theme */
    /* background-size: 1920px auto !important;*/
    /* background: url('https://github.com/sharedmean/ruby-course-project/blob/master/app/assets/images/56.jpg?raw=true') !important; /* 7,9,10,14,15, 55, 56, 65, 69, 73, 766, 86 images are good */
    background: rgba(0, 0, 0, 0) linear-gradient(to right, rgb(218, 226, 248), rgb(214, 164, 164)) repeat scroll 0% 0%;
  }

   /* avatars */
  .avatar-show {
    border-radius: 50%;
    border: 1px solid #ee538d;
    text-align: center;
    color: #ee538d;
    font-family: cursive;  
    background-color: #ee538c46;
  }
  .avatar-show-small {
    width:40px;
    height: 40px;
    font-size:6px;
    margin-right:5px;
  }
  .avatar-show-big {
    width:200px;
    height: 200px;
    font-size:30px;
  }
  .no-avatar {
    padding-top: 40%;
  }
  .cursor-pointer {
    cursor: pointer;
  }
  .text-center {
    text-align: center;
  }

  /* profile stuff */
  .profile-circle {
    border: 1px solid #ee538d;
    width: 115px;
    border-radius: 7px;
    font-size: 16px;
    color: #ee538d;
    padding-top:10px;
    text-align: center;
    margin-right: 20px;
  }
  .profile-name {
    font-size:34px;
    margin-top:10px; 
    margin-bottom:20px; 
    color: #ee538d;
  }

  /* pink devider (uses everywhere) */
  hr {
    color: #ff005d;
    height: 2px !important;
  }

  /* for links */
  .no-decoration {
    text-decoration: none;
    color: black;
    font-size: 18px;
    vertical-align: middle;
    font-weight: 500;
  } 
  .text {
    font-size: 24px;
    color: #ee538d;
    text-decoration: none;
    margin-left:30px;
  } 
  a {
    color: #ee538d;
    text-decoration: none !important;
  }
  a:hover {
    color: black;
  }

  /* comments */
  .comments {
    text-decoration: none;
    color: #ee538d;
  }
  .comments:hover, .no-decoration:hover {
    color: #ee538d;
  }
  
  /* search-field */
  .search {
    width:300px !important;
    display: inline !important;
    margin-top:20px;
    margin-right:0px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    color: #ee538d;
    border: 1px solid  #ee538d;
    text-align: center;
  }
  .search-button{
    height: 40px;
    margin-top:20px;
    padding-top: 2px;
  }
  .search-button:hover{
    background-color: white;
    border: 2px solid  #ee538d !important;
    color: #ee538d;
  }

  /* all buttons */
  .btn-outline-pink {
    color: #ee538d;
    border-color: #ee538d;
    margin-right: 20px;
    text-decoration: none !important;
  }
  .btn-profile {
    color: #ee538d;
    text-decoration: none !important;
  }
  .btn-outline-pink:hover, .btn-profile:hover {
    color: white;
    background-color: #ee538d;
  }
  .btn-pink {
    color: black;
    background-color: #ee538d;
    margin-right: 20px;
    border-color: #ee538d;
  }
  .btn-pink:hover {
    border-color: black;
  }
  .exit-icon {
    padding: 3px 17px 2px 9px;
  }
  .profile-add-icons{
    padding: 3px 14px 3px 14px;
  }

  /* content */
  .content {
    max-width: 900px !important;
  }
  .content-img {
    max-width: 840px !important;
    border-radius:3px;
  }
  .content-img-profile {
    max-width: 270px !important;
    border-radius:3px;
  }

  /* logo */
  .logo {
    margin-left: 10px;
  }

  /* other */
  .alert{
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
    padding: 20px;
    width:45%;
    margin: 0 auto;
    margin-bottom:20px;
    text-align:center;
  }
  .card {
    background-color: #fffffff1 !important;
  }
  .no-border{
    border: none !important;
  }
  .no-margin{
    margin: 0px !important;
    position: absolute;
    right: 10px;
  }
  