/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

  body {
    background: url('/assets/15.jpg') !important; /* 7,9,10,14,15 images are good */
    background-size: contain !important;
  }
  .no-decoration {
    text-decoration: none;
    color: black;
    font-size: 18px;
    vertical-align: middle;
    font-weight: 500;
  }  
  
  .no-decoration:hover {
    color: #ee538d;
  }

  .text {
    font-size: 24px;
    color: #ee538d;
    text-decoration: none;
    margin-left:30px;
  }
  
  .search {
    width:30%;
  }

  .btn-outline-pink {
    color: #ee538d;
    border-color: #ee538d;
    margin-right: 20px;
  }

  .btn-outline-pink:hover {
    color: white;
    background-color: #ee538d;
  }

  .btn-pink {
    color: black;
    background-color: #ee538d;
    margin-right: 20px;
    border-color: #ee538d;
  }

  .btn-pink:hover {
    border-color: black;
  }

  .content {
    max-width: 900px !important;
  }

  .content-img {
    max-width: 840px !important;
    border-radius:3px;
  }

  .content-img-profile {
    max-width: 270px !important;
    border-radius:3px;
  }
